.tout{
    display: flex;
    flex-direction: row;
    justify-content:space-around ;
}
.genre{
    display: flex;
    flex-direction: column;
}
#post{
    width: 1000px;
    height: 100px;
}
.post{
    padding: left;
}
#div {
    background-color: var(--color-primary);
      color: white;
      height: auto;
  }
