* {
  color: var(--color-primary);
}

a {
  color: white;
}

a:visited {
  color: white;
}

header {
  background-color: var(--color-primary);
  margin: 0px;
  padding: auto;
  color: white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
}
body {
  margin: 0px;
}
.ok {
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
  display: flex;
  list-style-type: none;
}
.bouton {
  cursor: pointer;
  border-bottom: 1px solid rgb(2, 2, 2);
}

.header-top {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.connect {
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: space-between;
}

hr {
  border-width: 0;
}
nav {
  /* tous liens lors du survol dans la balise nav */
  width: 100%;
  border: 2px;
  display: flex;
}
nav a {
  /* tous les liens a à l'intérieur de la balise nav */
  text-decoration: none; /* pas d'héritage avec effet souligné */
  color: #ffffff; /* couleur du texte */
  height: 36px; /* hauteur */
  line-height: 33px; /* interligne */
  padding: 0 10px; /* marges intérieur */
  font-family: sans-serif; /* police d'écriture */
  font-size: 13px; /* taille du texte */
  transition: 0.5s; /* temps de transition lors du hover : une demi seconde */
}

nav a:hover {
  /* tous liens lors du survol dans la balise nav */
  background: white; /* couleur de fond */
  color: var(--color-primary);
  font-weight: bold;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 24px;
  margin: 1px;
  height: 0px;
  gap: 12px;
}

label {
  color: var(--color-primary);
  display: inline-block;
}
footer ul {
  list-style: none;
  display: flex;
  gap: 24px;
  justify-content: center;
}

footer,header,main {
  padding: 0 96px;
  box-sizing: content-box;
}

main {
  padding: 24px 96px;
  /* overflow-y: auto; */
}

html {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  height: 100%;
}
footer {
  padding: 8px;
  flex-shrink: 0;
  background: var(--color-primary);
  color: white;
  text-align: center;
}

header *,footer * {
  color: white;
}

main {
  position: relative;
  flex: 1 0 auto;
}
#content-wrapper {
  flex: 1;
  height: 100%;
  overflow-y: auto;
}

header button {
  background: white;
  color: var(--color-primary);
  outline: none;
  border: none;
  padding: 4px;
}

input {
  padding: 4px;
}

#keywordInput {
  color: var(--color-primary);
}
#vdm-form {
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: auto;
}
.main-add{
  display: flex;
  flex-direction: column;
  gap: 12px;
  text-align: center;
}