#info {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  padding: var(--padding);
}
.border {
    background-color: var(--color-primary);
    color: white;
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
}

.border:first-child > h1 {
  margin-top: 0;
}
